<div class='container'>
  <h1>Recent Posts</h1>
  <form role='form'>
    <div class='form-group'>
      <div class='input-group'>
        <label>Name: <input ng-model='name' class='form-control' /></label>
      </div>
      <div class='input-group'>
        <label>Reps: <input ng-model='reps' class='form-control' /></label>
      </div>
      <div class='input-group'>
        <label>Weight: <input ng-model='weight' class='form-control' /></label>
      </div>
      <div class='input-group'>
        <label>Units: <input ng-model='units' class='form-control' /></label>
      </div>
      <span class='input-group-btn'>
        <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
      </span>
    </div>
  </form>
  <table>
    <thead>
      <th>Name</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Units</th>
      <th>Date</th>
      <th></th>
    </thead>
    <tr ng-repeat="post in posts | orderBy:'-date'">
      <td>{{post.name}}</td>
      <td>{{post.reps}}</td>
      <td>{{post.weight}}</td>
      <td>{{post.units}}</td>
      <td>{{post.date}}</td>
      <td>
        <button ng-click="remove(post._id)" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </table>
</div>
